Software/Tech Book/Formations/MAKE ACADEMY/MAKE BASIC/3EUkc340SrqEOXAQoXKj_Make Basics U01 Blueprint.json
{
    "name": "Integration Weather, Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "weather:ActionGetCurrentWeather",
            "version": 1,
            "parameters": {},
            "mapper": {
                "type": "name",
                "city": "London, UK"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "type": {
                            "label": "cities"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "I want to enter a location by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "name",
                                "coords"
                            ]
                        }
                    },
                    {
                        "name": "city",
                        "type": "text",
                        "label": "City",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 655461
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "values": {
                                    "0": "{{1.sunrise}}",
                                    "1": "{{1.temperature}}",
                                    "2": "{{1.name}}",
                                    "3": "{{1.description}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Select by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "MBC01 - Basics blueprint"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "A",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "B",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "C",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "D",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "E",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "F",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "G",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "H",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "I",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "J",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "K",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "L",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "M",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "N",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "O",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "P",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "Q",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "R",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "S",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "T",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "U",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "V",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "W",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "X",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "label": "Y",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "label": "Z",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}